<div class="permission-denied">
  <h1>
    <a href="https://chapman.edu/" title="Chapman University">Chapman University</a>
  </h1>
  <p>You must have admin access to view this page. Please contact <%= mail_to "smctech@chapman.edu", "smctech@chapman.edu", subject: "Newsroom Admin Access" %> for assistance.</p>
  <%= link_to "Back to Newsroom", root_url %>
</div>
