<div id="cu-global-nav">
  <p class="contact-us">Drop us a line at <a href="mailto:pr@chapman.edu">pr@chapman.edu</a></p>
  <nav>
    <ul class="global-nav-links">
      <li class="primary-link">
        <a href="https://blogs.chapman.edu/news-and-stories">News &amp; Stories</a>
      </li>
      <li class="primary-link">
        <a>Magazine</a>
      </li>
      <li class="primary-link">
        <a>Blogs</a>
      </li>
      <li class="primary-link">
        <a>Press Releases</a>
      </li>
      <li class="primary-link">
        <a>Media Clips</a>
      </li>
      <li class="primary-link">
        <a>Experts</a>
      </li>
    </ul>
  </nav>
</div>
