// Styles for the login page
html.sessions {
  height: 100%;

  body {
    background: #ECEBE5;
    color: #444;
    font-family: $default-fonts;
    font-size: 13px;
    line-height: 1.4em;

    div#login {
      background: $white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
      margin: 10px auto 0 auto;
      padding: 25px 40px;
      width: 375px;

      @media only screen and (min-width: 680px) {
        margin-top: 115px;
      }

      h1 {
        text-align: center;
        margin: 0;

        a {
          background-image: image-url("chapman-horizontal-logo.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          display: inline-block;
          height: 63px;
          margin-bottom: 10px;
          padding-bottom: 0;
          text-indent: -9999px;
          width: 233px;
        }
      }

      h2 {
        color: #353430;
        font-family: $font-stack-heading;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 6px;
      }

      p.welcome {
        font-size: 14px;
        font-style: italic;
        line-height: 1.2;
        margin: 0;
        padding: 0;
      }

      label {
        color: #62605a;
        font-size: 14px;
      }

      div#welcome {
        margin: 5px 10px 20px 10px;
      }
    }

    input {
      background: #FBFBFB;
      border: 1px solid #BBB;
      box-shadow: none;
      box-sizing: border-box;
      color: #9A9996;
      font-size: 14px;
      line-height: 1;
      margin: 2px 6px 16px 0;
      padding: 12px;
      outline: none;
      width: 100%;

      &:focus {
        border-color: #D3A6AE;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #353430;
      }
    }

    input#user_username {
      background-image: image-url("user_id.png");
      background-repeat: no-repeat;
      background-position: 10px 10px;
      background-size: 21px 21px;
      padding-left: 35px;

      &:focus {
        background-image: image-url("user_id_focus.png");
        background-repeat: no-repeat;
        background-position: 10px 10px;
        background-size: 21px 21px;
        padding-left: 35px;
      }
    }

    input#user_password {
      background-image: image-url("user_pass.png");
      background-repeat: no-repeat;
      background-position: 10px 10px;
      background-size: 21px 21px;
      padding-left: 35px;

      &:focus {
        background-image: image-url("user_pass_focus.png");
        background-repeat: no-repeat;
        background-position: 10px 10px;
        background-size: 21px 21px;
        padding-left: 35px;
      }
    }

    input.submit {
      background: $chapman-red;
      border: none;
      border-radius: 2px;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: $white;
      font-size: 14px;

      &:active {
        background: #C92741;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &:hover {
        background: $link-red-hover;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &.large {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    #footer {
      float: right;
      font-size: 12px;
      margin: 35px -40px 0;
      padding: 0;

      a {
        text-decoration: none;
        color: $chapman-red;

        &:hover {
          color: $link-red-hover;
        }
      }
    }

    .message {
      background-color: #F5F5F5;
      border-left: 4px solid #02bac1;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    #login_notice,
    #login_error {
      background: $white;
      border-left: 4px solid #dd3d36;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
      margin-left: 0;
      padding: 12px;
    }

    #login_notice {
      border-left: 4px solid #FFC200;
    }
  }
}
