// Random bootstrap style overrides fo User views (admin only)
select#user_role {
  width: 200px;
}

a.btn,
input.btn {
  margin: 5px 0;
}

table.table th, table.table td {
  vertical-align: middle;
}
