default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  host: localhost
  database: newsroom_development

test:
  <<: *default
  host: localhost
  database: newsroom_test

staging:
  <<: *default
  database: newsroom_staging
  username: <%= Rails.application.secrets.database_user %>
  password: <%= Rails.application.secrets.database_password %>
  host: 192.168.16.156
  port: 5432
