/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$default-fonts: "proxima-nova", verdana, sans-serif;
$chapman-font-color: #2f2f2f;

// Default styles
html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: $default-fonts;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: initial;
  margin: 0;
  padding: 0;
  color: $chapman-font-color;
  font-family: $default-fonts;
}

* {
  box-sizing: inherit;
}